body {
  margin: 0;
  font: 14px Helvetica, sans-serif;
  line-height: 1.5;
}

a:link, a:visited {
  text-decoration: none;
  color: #d0021b;
}
a:link:hover {
  text-decoration: underline;
}

.home {
  padding-top: 2em;
}
.home-content {
}
.home-footer {
  padding: 6em 0 3em;
}

.react30-logo {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.episode-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  list-style-type: none;
}
@media screen and (min-width: 640px) {
  .episode-list {
    padding: 0;
  }
}

nav {
  margin-bottom: 6em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
  padding: 0 1em;
}

.episode-list li {
  display: flex;
  margin: 1.5em 0;
}
.episode-info {
  padding: 0px 20px 0;
  flex: 1;
}
.episode-info h2 {
  margin: 0;
}
.episode-info p {
  margin: 0;
}

.episode-links {
  text-align: right;
}

.twitter-logo {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.twitter-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.twitter-logo a .primary-fill {
  transition: fill 0.5s ease;
  fill: #eee;
}
.twitter-logo a:hover .primary-fill {
  fill: #55acee;
}
